@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body{
  background-color: rgb(43, 42, 42);
  overflow-x: hidden;
}

.extreme, .homebutton{
  background: linear-gradient(to right, #DE1855,
  #EB6D25, #cf23cf, #eedd44);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-weight: 500;
}

.image1{
  transform: rotate(-10deg);
}

.image2{
  transform: rotate(10deg);
}

.nav-items{
  content: "";
  width: 100%;
  height: 2px;
  color: #DE1855;
  font-weight: 400;
  font-size: 18px;
  cursor: pointer;
}

.nav-items::after{
  content: "";
  background: white;
  display: block;
  width: 0%;
  height: 2px;
  transition: all 0.5s;
}

.nav-items:hover::after{

  width: 100%;
 
}

.circle{
  transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
  z-index: 100;
}


.mobile-image{
  display: none;
}

.navbar{
  z-index: 100;
}

.homebanner{
  z-index: -1;
}

@media (max-width: 760px){

  .mobile-show{
    position: fixed;
    top: -10px;
    left: -10%;
    background-color: rgb(211, 203, 203);
    z-index: 100;
    width: 90%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
  }

  .mobile-image{
    display: block;
  }

  .mobile{
    position: fixed;
    left: -133%;
    background-color: white;
    z-index: 100;
    top: 0;
    width: 120%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
  }


  .mobile-items{
    gap: 60px;
  }

  .cross{
    position: absolute;
    top: 3%;
    left: 84%;
  }

  .burger{
    position: absolute;
    top: 10px;
    margin-right: 20px;
  }

  .image1{
    display: none;
  }

  .image2{
    display: none;
  }



  .image{
    width: 200px;
    height: 400px;
  }
}